{ 
   "endpoint"       : "https://s3.amazonaws.com",
   "accessId"       : "",
   "secretKey"      : "",
		
   "bucketBody"   : "MyBucketTes",
   "bucketSuffixStart" : 1,
   "bucketSuffixEnd"   : 10,

   "objectBody"   : "myObj",
   "objectSuffixStart" : 1,
   "objectSuffixEnd"   : 2000,
   
   "size" :  16384,

   "_help_comment_" : ["The above, with --cmd put, will create, Size is in bytes",
			     "             MyBucketTest1 \\ myObj1",
			     "             MyBucketTest2 \\ myObj1"]
				 
 }
